@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="mt-3">
    <p>Aplikasi ini merupakan aplikasi yang saya (Darul Rahman Wahid) buat melanjutkan proses rekruitment PT <b>Mega Central Finance</b> atau yang lebih dikenal dengan <b>MCF</b>.</p>
    
    <p><i>Disclaimer: </i></p>
    <ul>
        <li><i>Nama "Krediku" merupakan produk PT MCF yang sudah ada, nama ini saya gunakan untuk aplikasi yang saya buat hanya semata-mata sebagai contoh aplikasi belaka, tidak ada maksud menentang copyright.</i></li>
    </ul>
</div>
